body {
    background-color: #212121;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
}

nav {
    background-color: #303030;
    box-shadow: 0px 5px 10px #181818;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    cursor: pointer;
    min-width: 75px;
    padding: 8px 2vw;
    margin: 0 2vw;
}

button:hover {
    background-color: #555;
}

.autocomplete {
    position: relative;
    display: inline-block;
    flex: 0.85;
    min-width: 100px;
    display: flex;
}

.search-bar {
    background-color: #212121;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    flex: 1;
    overflow: hidden;
    outline: none;
}

.autocomplete-results {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-results div {
    background-color: #303030;
    padding: 10px;
    cursor: pointer;
}

.autocomplete-focused {
    background-color: #555 !important;
}

#timeline {
    width: 99%;
    height: 93%;
}

/* Timeline item */
.vis-item.vis-range {
    background-color: #61717A;
    border: 0;
    color: white;
    cursor: pointer;
}

/* Tooltip */
div.vis-tooltip {
    background-color: #161616;
    color: white
}

/* Date text */
.vis-time-axis .vis-text {
    color: #e0e0e0;
}

/* Player overlap lines */
.vis-custom-time.start,
.vis-custom-time.end {
    background-color: #FFFFFF90;
    pointer-events: none; /* Prevents dragging */
}

/* Grid lines */
.vis-time-axis .vis-grid.vis-odd,
.vis-time-axis .vis-grid.vis-even,
.vis-panel.vis-center {
    border-color: #404040;
}

/* Hides outter lines */
.vis-timeline.vis-bottom.vis-ltr,
.vis-panel.vis-top,
.vis-panel.vis-bottom {
    border-width: 0;
}

/* Hides scroll bar */
.vis-panel.vis-left.vis-vertical-scroll {
    visibility: hidden;
}

/* Ranks */
.cloudian {
    background-color: #5555FF !important;
}

.elder {
    background-color: #AA00AA !important;
}

.chicken {
    background-color: #FF5555 !important;
}

.chick {
    background-color: #FF55FF !important;
}

.egg {
    background-color: #00AA00 !important;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 10px solid #00000000;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }

}
