body {
    background-color: #212121;
    font-family: sans-serif;
}

/* Timeline item */
.vis-item {
    background-color: #61717A;
    border: 0;
    color: white;
}

/* Tooltip */
div.vis-tooltip {
    background-color: #161616;
    color: white
}

/* Date text */
.vis-time-axis .vis-text {
    color: #e0e0e0;
}

/* Player overlap lines */
.vis-custom-time.start,
.vis-custom-time.end {
    background-color: #FFFFFF90;
    pointer-events: none; /* Prevents dragging */
}

/* Grid lines */
.vis-time-axis .vis-grid.vis-odd,
.vis-time-axis .vis-grid.vis-even,
.vis-panel.vis-center {
    border-color: #404040;
}

/* Hides outter lines */
.vis-timeline.vis-bottom.vis-ltr,
.vis-panel.vis-top,
.vis-panel.vis-bottom {
    border-width: 0;
}

/* Hides scroll bar */
.vis-panel.vis-left.vis-vertical-scroll {
    visibility: hidden;
}

/* Ranks */
.cloudian {
    background-color: #5555FF;
}

.elder {
    background-color: #AA00AA;
}

.chicken {
    background-color: #FF5555;
}

.chick {
    background-color: #FF55FF;
}

.egg {
    background-color: #00AA00;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 10px solid #00000000;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }

}
